<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/app.js" defer></script>
</head>
<body>
    <main class="app-shell">
        <h1>RENDERED</h1>
        <table>
            <caption>Job Applications</caption>
            <tr>
                <th>ID</th>
                <th>Company</th>
                <th>Position</th>
                <th>Application Date</th>
                <th>Status</th>
                <th>Notes</th>
                <th>Job URL</th>
                <th>created at</th>
            </tr>
        </table>
    </main>
</body>
</html>