<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/app.js" defer></script>
</head>
<body>
    <main class="applications">
        <section class="hero">
            <div class="hero-content-head">
                <h1>Job Application Tracker</h1>
                <p>Lets keep your applications organized and under control. And find us a Job right?</p>
            </div>
            <div class="hero-content-foot">
                <!-- <button>View Applications</button> -->
                <a href="#applications-form">View Applications</a>
            </div>
        </section>
        <section class="application-shell">
            <section class="input-section">
                <form id="applications-form">
                    <div class="application-field">
                        <input 
                        class="input-field"
                        type="text" 
                        name="Company-name" 
                        id="company" 
                        placeholder="COMPANY" 
                        required
                        >
                        <label for="company">Company:</label>
                    </div>
                    <div class="application-field">
                        <input
                            class="input-field" 
                            type="text" 
                            name="position-name" 
                            id="position" 
                            placeholder="POSITION" 
                            required
                        >
                        <label for="position">Position:</label>
                    </div>
                    <div class="application-field">
                        <input 
                            class="input-field"
                            type="date" 
                            name="application-date-name" 
                            id="application-date" 
                            placeholder="APPLICATION DATE" 
                            required
                        >
                        <label for="application-date">Application Date:</label>
                    </div>
                    <div class="application-field">
                        <select name="status-type" id="status" class="input-field" placeholder="STATUS" required>
                            <option value="Wishlist">Wishlist</option>
                            <option value="Applied">Applied</option>
                            <option value="Interview">Interview</option>
                            <option value="Offer">Offer</option>
                            <option value="Accepted">Accepted</option>
                            <option value="Rejected">Rejected</option>
                            <option value="Withdrawn">Withdrawn</option>
                        </select>
                    <label for="status">Status:</label>
                    </div>
                    <div class="application-field">
                        <input 
                            class="input-field"
                            type="text" 
                            name="notes-name" 
                            id="notes" 
                            placeholder="NOTES" 
                        >
                        <label for="notes">Notes:</label>
                    </div>
                    <div class="application-field">
                        <input 
                            class="input-field"
                            type="text" 
                            name="job-url-name" 
                            id="job-url" 
                            placeholder="JOB URL" 
                        >
                        <label for="job-url">Job Url:</label>
                    </div>
                    <button type="submit" class="submit-add-applications">Add Task</button>
                </form>
                <div id="button-features"></div>
            </section>
            <section id="dashboard" class="dashboard">
            </section>
        </section>
    </main>
</body>
</html>