<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/app.js" defer></script>
</head>
<body>
    <main class="applications">
        <form id="applications-form">
            <label for="company">Company:</label>
            <input 
                class="input-field"
                type="text" 
                name="Company-name" 
                id="company" 
                placeholder="COMPANY" 
                required
            >
            <label for="position">Position:</label>
            <input
                class="input-field" 
                type="text" 
                name="position-name" 
                id="position" 
                placeholder="POSITION" 
                required
            >
            <label for="application-date">Application Date:</label>
            <input 
                class="input-field"
                type="date" 
                name="application-date-name" 
                id="application-date" 
                placeholder="APPLICATION DATE" 
                required
            >
            <label for="status">Status:</label>
            <input 
                class="input-field"
                type="text" 
                name="status-type" 
                id="status" 
                placeholder="STATUS" 
                required
            >
            <label for="notes">Notes:</label>
            <input 
                class="input-field"
                type="text" 
                name="notes-name" 
                id="notes" 
                placeholder="NOTES" 
                required
            ><label for="job-url">Job Url:</label>
            <input 
                class="input-field"
                type="text" 
                name="job-url-name" 
                id="job-url" 
                placeholder="JOB URL" 
                required
            >
            <button type="submit" class="submit-add-applications">Add Task</button>
        </form>
        <section id="dashboard" class="dashboard">
        </section>
    </main>
</body>
</html>